body {
  margin: 0;
  background-color: black;
  color: #333;
  text-align: center;
}

/* Main Content */
.content {
  position: relative;
  /* top: -90px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Image Container */
.image-container {
  background-color: black;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 2px darkgray;
}

.question-mark {
  position: absolute;
  bottom: -20px; /* To change height of ? */
  left: 50%;
  transform: translateX(-50%);
  font-size: 7rem;
  font-weight: bold;
  color: white;
}

/* The animation code */
@keyframes silverWhite {
  0%   {color: silver;}
  20%  {color: lightgray;}
  40%  {color: white;}
  60% {color: white;}
  80% {color: lightgray;}
  100% {color: silver;}
}

/* The element to apply the animation to */
.question-mark {
  animation-name: silverWhite;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.option-button {
  padding: 16px 48px; /* Button sizes */
  border: none;
  border-radius: 10px;
  background-color: black;
  color: whitesmoke;
  box-shadow: 0 2px 5px darkgray;
  cursor: pointer;
  font-family: "Kaushan Script", serif;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
}

.option-button:hover {
  background-color: silver;
  color: black;
  transform: scale(1.05);
}

img {
  max-width: 600px; /* Slightly smaller than the smallest bird img width we have */
  border-radius: 4px;
}

.feedback {
  color: white;
  font-size: larger;
  font-style: italic;
  height: 30px; /* limit thes container bouncing up when a feedback answer is displayed */
  p {
    display: flex;
    justify-self: center;
  }
}

.options-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 20px;
}

