:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@media screen and (max-height: 1079px) {
  .header {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .score {
    display: none;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.score {
  font-size: 1.5rem; /* Adjust the size */
  font-weight: bold; /* Make it bold */
  font-family: "Kaushan Script", serif;;
  color: #ffffff; 
  text-align: center; /* Center the text */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

body {
  justify-content: center;
  background-image: url('./owl-images/night-forest-grey-edit.png'); /* Ensure this is behind the Owl-Container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centres the image */
  height: 100vh;
}
